@model IEnumerable<App.Contracts.DataModels.IAccountDataModel>

<script>
    $(function () { // add a toolbar item to fire the new Account popup ("app-account-add")
        radio("app-addToolbar").broadcast("<span class='btn btn-info btn-sm disableOnAjax' onclick='radio(\"app-account-add\").broadcast()'><i class='icon-new'></i> New Account</span>")
        radio("app-addToolbar").broadcast("<span class='btn btn-warning btn-sm isDirty disableOnAjax' onclick='window.location.reload();'><i class='icon-refresh'></i> Refresh</span>") // shows when the data is dirty
     })
</script>

@Html.Partial("AccountList",Model)