@model IEnumerable<App.Contracts.DataModels.IRoleDataModel>

<script>
	$(function () { // add a toolbar item to fire the new Role popup ("app-role-add")
	    radio("app-addToolbar").broadcast("<span class='btn btn-info btn-sm disableOnAjax' onclick='radio(\"app-role-add\").broadcast()'><i class='icon-new'></i> New Role</span>")
		radio("app-addToolbar").broadcast("<span class='btn btn-warning btn-sm isDirty disableOnAjax' onclick='window.location.reload();'><i class='icon-refresh'></i> Refresh</span>") // shows when the data is dirty
 	})
</script>

@Html.Partial("RoleList",Model)