@{
    Layout = null ;
}
<div class="row">
    

            <div class="col-md-4">
                <div class="navigation-panel">
                    <div class="navigation-title">Account</div>
                    <div class="navigation-description">Represents a validated end user
                        <p><a href='@Url.Action("Index", "Account")' class='btn btn-info'>View</a></p>    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="navigation-panel">
                    <div class="navigation-title">Role</div>
                    <div class="navigation-description">Represents a collection of common rights
                        <p><a href='@Url.Action("Index", "Role")' class='btn btn-info'>View</a></p>    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="navigation-panel">
                    <div class="navigation-title">Right</div>
                    <div class="navigation-description">A single action an end user can perform
                        <p><a href='@Url.Action("Index", "Right")' class='btn btn-info'>View</a></p>    
                    </div>
                </div>
            </div></div>