body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* table */
.table {
    width: 100% !important;
}

.datatype-actions {
    text-align: right;
    min-width: 160px;
}

/*larger modals*/
.modal-dialog {
    width: 95%;
    height: 95%;
    margin: 0;
    padding: 0;
    margin-left: 2%;
    margin-top: 2%;
}

.modal-content {
    height: auto;
    min-height: 95%;
    border-radius: 0;
    margin-left: 2%;
}

/*Navigation panel*/
a {
    cursor : pointer ;
}
.navigation-panel {
  
}

    .navigation-panel .navigation-title {
        border-bottom: 3px solid black;
        color: black;
        background-color: white;
        padding-left : 4px ;
    }

.navigation-description {
          padding-left : 4px ;
}
