@{
    Layout = null;
}
<form>
    <div class="row">

        <!-- ===========================================
                First password input
            =========================================== -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label for="password1">Input</label>
            <i class="fa fa-exclamation text-danger error-icon" id="error-icon-for-password1" aria-hidden="true"></i>
            <input type="password" class="form-control" id="password1" name="password1" />
        </div>
        <div class="col-md-2"></div>

    </div>
    <div class="row">
        <!-- ===========================================
                Second password input
        =========================================== -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label for="password2">Input (again)</label>
            <i class="fa fa-exclamation text-danger error-icon" id="error-icon-for-password2" aria-hidden="true"></i>
            <input type="password" class="form-control" id="password2" name="password2" />
        </div>
        <div class="col-md-2"></div>

    </div>
</form>

