@model RightViewModel
@{ 
    Layout = null;
	var isReadOnly = ViewBag.Readonly ;
    var cssClass = isReadOnly ? " readonly form-control " : " form-control ";
	var showRelationships = ViewBag.ShowRelationships ;
}
<script>  
    $(function () {
        radio("app-startup").broadcast(false);
    })
</script>

@if(showRelationships)
{
	<p>	
		</p>	
}

<form>

    <div class="row">
			<div class="col-md-6">
				<!-- ===========================================
						Input for Name (string)
				=========================================== -->
				<label for="Name">Name:
				<i title="Any combinaton of characters" class="fa fa-question info-icon"></i></label>
				<i class="fa fa-exclamation-triangle text-danger error-icon" id="error-icon-for-Name" aria-hidden="true"></i>
				<br/><small>Human readable name</small>
				
				@Html.TextBoxFor(x=>x.Name, new { @class= cssClass + " data-string type-string", name="Name" })
								
			</div>
			<div class="col-md-6">
				<!-- ===========================================
						Input for Key (string)
				=========================================== -->
				<label for="Key">Key:
				<i title="Any combinaton of characters" class="fa fa-question info-icon"></i></label>
				<i class="fa fa-exclamation-triangle text-danger error-icon" id="error-icon-for-Key" aria-hidden="true"></i>
				<br/><small>Unique string the application can check against</small>
				
				@Html.TextBoxFor(x=>x.Key, new { @class= cssClass + " data-string type-string", name="Key" })
								
			</div>
			<div class="col-md-6">
				<!-- ===========================================
						Input for IsAssignable (bool)
				=========================================== -->
				<label for="IsAssignable">Is Assignable:
				<i title="Yes or no" class="fa fa-question info-icon"></i></label>
				<i class="fa fa-exclamation-triangle text-danger error-icon" id="error-icon-for-IsAssignable" aria-hidden="true"></i>
				<br/><small>If true the right can be assigned to a role</small>
				
				@Html.DropDownListFor(x=>x.IsAssignable, ViewBag.BoolSelectItems as SelectListItem[], new { @class= cssClass + " data-bool type-bool" ,name="IsAssignable", makeDisabled = isReadOnly ? "true" : "false"})
				
			</div>
	

		<!-- ===========================================
		Input for Role Right (One to many)
		=========================================== -->
		<div class="col-md-6">
			<label for="Role"><i class="icon-role"></i> Role Right</label>
			@Html.DropDownList("RoleRightId", Model.GetRoleRight(), new { @class = cssClass , makeDisabled = isReadOnly ? "true" : "false" })
        </div>
		
	</div>
	
	

</form>